body {
    background-color: #2c3e50;
    color: white;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#oyun-alani {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 10px;
    background-color: #34495e;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

.kart {
    width: 100px;
    height: 100px;
    background-color: #e74c3c;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: transparent; /* Sayılar başlangıçta gizli */
    transition: transform 0.3s;
}

.kart:hover {
    transform: scale(1.05);
}

.acik {
    background-color: #ecf0f1;
    color: #2c3e50; /* Kart açılınca sayı görünür */
}